<main class="contact-main">
  <section>
    <h1 class="h1consec32">Say hi!</h1>
    <h2>Want to discuss a new project?</h2>
    <h3>Say hello! let's discuss your ideas and make it happen</h3>
  </section>
  <section class="form-section d-flex justify-content">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
      <div class="InputWraper">
        <label for="name" style="width: fit-content;">Your name</label>
        <input #name="ngModel" [(ngModel)]="contactData.name" class="Input" id="name" name="name" pattern="^[a-zA-Z ]+([a-zA-Z' ]*[a-zA-Z])?$"
               placeholder="Your name" required type="text">
        @if (name.pristine && name.invalid && name.touched) {
          <h6 class="FalseInputError">Your name is required</h6>
        } @else {
          <h6 class="FalseInputError">Your name is invalid</h6>
        }
      </div>

      <div class="InputWraper">
        <label for="email" style="width: fit-content">Your email</label>
        <input #email="ngModel" [(ngModel)]="contactData.email" class="Input" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
               placeholder="Your Email" required type="email">
        @if (email.pristine && email.invalid && email.touched) {
          <h6 class="FalseInputError">Your email is required</h6>
        } @else {
          <h6 class="FalseInputError">Your email is invalid</h6>
        }
      </div>

      <div class="InputWraper">
        <label for="message" style="width: fit-content;">Your message</label>
        <textarea #message="ngModel" [(ngModel)]="contactData.message" class="Input" id="message" minlength="4"
                  name="message" placeholder="Your message" required></textarea>
        @if (message.pristine && message.invalid && message.touched) {
          <h6 class="FalseInputError">Your message is required</h6>
        } @else {
          <h6 class="FalseInputError">Your message is invalid</h6>
        }
      </div>
      <div class="checkboxWraper">
        <main class="inputHoverBackground" style="color: unset;">
          <input #privacyPolicy="ngModel" [(ngModel)]="contactData.privacyPolicy" class="inputHoverInput"
                 id="privacyPolicy" name="privacyPolicy" required type="checkbox">
        </main>
        <label class="privacyPolicy" for="privacyPolicy">I've read the and agree to the <span class="inputHoverSpan">privacy policy</span>
          processing of my data as outlined.</label>
        @if (privacyPolicy.invalid && privacyPolicy.touched && privacyPolicy.dirty) {
          <br><h6 class="FalseInputError">Please accept the privacy policy.</h6>
        }
      </div>
      <input [disabled]="contactForm.form.invalid" [value]="buttonText" class="inputsubmit" type="submit">

    </form>
    <app-contact-scroll-up></app-contact-scroll-up>
  </section>
</main>
