.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @media (width <= 900px) {
    overflow-x: hidden;
  }

  section {
    margin-bottom: 3rem;
    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


    .gb56ev198 {
      color: var(--black, #000);
      font-family: Overpass;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 27.6px */
      width: 33%;
      margin: 0;

      @media (width <= 900px) {
        width: 70%;
        font-size: 22px;
      }
    }

    .gb56ev198:hover {
      color: black;
    }


    .fgdiuh6145 {
      color: var(--black, #000);
      font-family: Syne;
      font-size: 78px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 78px */
      letter-spacing: 0.78px;
      margin: 0;
      margin-bottom: 35px;
      transition: all 125ms ease-in-out;

      @media (width <= 900px) {
        font-size: 36px;
        animation-name: color-blink-black;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }


    }

    .fgdiuh6145:hover {
      color: var(--blue, #5988FF);
    }


  }

  section {

  }
}
