<main class="contact-main">
	<section >
		<h1 class="h1consec32">Say hi!</h1>
		<h2>Want to discuss a new project?</h2>
		<h3>Say hello! let's discuss your ideas and make it happen</h3>
	</section>
	<section class="form-section d-flex justify-content">
		<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
			<div class="InputWraper">
				<label for="name" style="width: 36px;">First Name</label>
				<input class="Input" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name" required pattern="^[a-zA-Z ]+([a-zA-Z' ]*[a-zA-Z])?$">
				<h6 class="FlaseInputError">Your email is required</h6>
			</div>
			
			<div class="InputWraper">
				<label for="email" style="width: 42px;">Email</label>
				<input class="Input" #email [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your Email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
				<h6 class="FlaseInputError">Your email is required</h6>
			</div>
			
			<div class="InputWraper">
				<label for="message" style="width: 105px;">Your Message</label>
				<textarea class="Input" #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message" required></textarea>
				<h6 class="FlaseInputError">Your email is required</h6>
			</div>
			
			@if (!message.valid && message.touched) {
				<span>I've read the privacy policy and agree to the processing of my data as outlined.</span>
			}
			
			<input type="submit" [value]="buttonText" [disabled]="!contactForm.form.valid">

		</form>
		<app-contact-scroll-up></app-contact-scroll-up>
	</section>
</main> 