app-header {
  display: block;
  height: 92px;
  position: fixed;
  width: 100%;
  background: #FFFCF3;
  z-index: 1000;
  max-width: 1920px;
}

.footerImprint {
  width: 100%;
  max-width: 1920px;
  position: fixed;
  bottom: 0;
}