<main>
    <h1>{{ 'privacyPolicy.title' | translate }}</h1>
    <h2>{{ 'privacyPolicy.partOne.title' | translate }}</h2>
    <h3>{{ 'privacyPolicy.partOne.head1' | translate }}</h3>
    <p>{{ 'privacyPolicy.partOne.text1' | translate }}</p>
    <h3>{{ 'privacyPolicy.partOne.head2' | translate }}</h3>
    <h4>{{ 'privacyPolicy.partOne.head3' | translate }}</h4>
    <p>{{ 'privacyPolicy.partOne.text2' | translate }}</p>
    <h4>{{ 'privacyPolicy.partOne.head4' | translate }}</h4>
    <p>{{ 'privacyPolicy.partOne.text4' | translate }}</p>
    <p>{{ 'privacyPolicy.partOne.text5' | translate }}</p>
    <h4>{{ 'privacyPolicy.partOne.head5' | translate }}</h4>
    <p>{{ 'privacyPolicy.partOne.text6' | translate }}</p>
    <h4>{{ 'privacyPolicy.partOne.head6' | translate }}</h4>
    <p>{{ 'privacyPolicy.partOne.text7' | translate }}</p>
    <p>{{ 'privacyPolicy.partOne.text8' | translate }}</p>
    <h2>{{ 'privacyPolicy.partTwo.title' | translate }}</h2>
    <p>{{ 'privacyPolicy.partTwo.text1' | translate }}</p>
    <h3>{{ 'privacyPolicy.partTwo.head1' | translate }}</h3>
    <p>{{ 'privacyPolicy.partTwo.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.partTwo.text3' | translate }}<a
            href="https://www.hetzner.com/de/legal/privacy-policy/" target="_blank"
            rel="noopener noreferrer">https://www.hetzner.com/de/legal/privacy-policy/</a>.</p>
    <p>{{ 'privacyPolicy.partTwo.text4' | translate }}</p>

    <h4>{{ 'privacyPolicy.partTwo.head2' | translate }}</h4>
    <p>{{ 'privacyPolicy.partTwo.text5' | translate }}</p>
    <h2>{{ 'privacyPolicy.partThree.title' | translate }}</h2>
    <h3>{{ 'privacyPolicy.partThree.head1' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.partThree.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.partThree.text3' | translate }}</p>
    <h3>{{ 'privacyPolicy.partThree.head2' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text4' | translate }}</p>
    <p>{{ 'privacyPolicy.partThree.text5' | translate }}<br />
        {{ 'privacyPolicy.partThree.text6' | translate }}<br />
        {{ 'privacyPolicy.partThree.text7' | translate }}</p>

    <p>{{ 'privacyPolicy.partThree.text8' | translate }}<br />
        {{ 'privacyPolicy.partThree.text9' | translate }}</p>
    <p>{{ 'privacyPolicy.partThree.text10' | translate }}</p>

    <h3>{{ 'privacyPolicy.partThree.head3' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text11' | translate }}</p>
    <h3>{{ 'privacyPolicy.partThree.head4' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text12' | translate }}</p>
    <h3>{{ 'privacyPolicy.partThree.head5' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text13' | translate }}</p>
    <h3>{{ 'privacyPolicy.partThree.head6' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text14' | translate }}</p>
    <h3>{{ 'privacyPolicy.partThree.head7' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text15' | translate }}</p>
    <p>{{ 'privacyPolicy.partThree.text16' | translate }}</p>
    <h3>{{ 'privacyPolicy.partThree.head8' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text17' | translate }}</p>
    <h3>{{ 'privacyPolicy.partThree.head9' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text18' | translate }}</p>
    <h3>{{ 'privacyPolicy.partThree.head10' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text19' | translate }}</p>
    <h3>{{ 'privacyPolicy.partThree.head11' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text20' | translate }}</p>
    <ul>
        <li>{{ 'privacyPolicy.partThree.text21' | translate }}</li>
        <li>{{ 'privacyPolicy.partThree.text22' | translate }}</li>
        <li>{{ 'privacyPolicy.partThree.text23' | translate }}</li>
        <li>{{ 'privacyPolicy.partThree.text24' | translate }}
        </li>
    </ul>
    <p>{{ 'privacyPolicy.partThree.text25' | translate }}</p>
    <h3>{{ 'privacyPolicy.partThree.head12' | translate }}</h3>
    <p>{{ 'privacyPolicy.partThree.text26' | translate }}</p>
    <p>{{ 'privacyPolicy.partThree.text27' | translate }}</p>
    <h2>{{ 'privacyPolicy.partFour.title' | translate }}</h2>
    <h3>{{ 'privacyPolicy.partFour.head1' | translate }}</h3>
    <p>{{ 'privacyPolicy.partFour.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.partFour.text2' | translate }}<a href="https://developers.google.com/fonts/faq"
            target="_blank" rel="noopener noreferrer">https://developers.google.com/fonts/faq</a>{{ 'privacyPolicy.partFour.text3' | translate }}<a href="https://policies.google.com/privacy?hl=de" target="_blank"
            rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a>.</p>
    <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</main>