<section [class.left]="projectId % 2 !== 0" [class.left-hover]="projectId % 2 !== 0" [class.right]="projectId % 2 === 0" [class.right-hover]="projectId % 2 === 0"
         [id]="projectId"
         class="hover-effectLOL">
  <main>
    <h2>{{ projectId }}/05</h2>
    <a rel="noopener noreferrer" target="_blank" (click)="openLink(project.Link)">
      <div>
        <img src="assets/project-list/{{ project.img }}">
        <div>
          <img src="assets/my-skills/cyrcle-arrow-removebg-preview.png">
        </div>
      </div>
    </a>
    <div class="owhmax900">

			<span>
				<h3>{{ project.title }}</h3>
				<h4>{{ project.techstack }}</h4>
				<p>{{ project.tldr | translate }}</p>
				<div type="button">
          <a target="_blank" rel="noopener noreferrer" [href]="project.gitHubLink">{{ project.bntname }}</a>
				</div>
			</span>
      <h1>{{ projectId }}/05</h1>
    </div>
  </main>
</section>
