<div class="soc-iconsDiv">
  <a href="https://github.com/majorSoldier603" target="_blank"><img alt="" src="../../../../assets/img/github.svg" srcset=""></a>
  <a href="mailto:me@maximilianstark.dev" target="_blank"><img alt="" src="../../../../assets/img/mail.svg" srcset=""></a>
  <a href="https://www.linkedin.com/in/maximilian-stark-2bbbb3302/" target="_blank"><img alt="" src="../../../../assets/img/link.svg"
                                                                         srcset=""></a>
</div>
