/* You can add global styles to this file, and also import other style files */
#app-root-mainWrapper {
	max-width: 1920px;
	margin: 0 auto;
}

app-root {
	display: block;
	width: 100%;
	height: 100%;
}

#mainbody {
	margin: 0;
	width: 100%;
	height: 100%;
	background: var(--cream, #FFFCF3);
}
D
.stop-scrolling {
	overflow: hidden;
}

.d-none {
	display: none;
}

.d-flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}