/* You can add global styles to this file, and also import other style files */
*::-webkit-scrollbar {
  display: none;
}

#app-root-mainWrapper {
  max-width: 1920px;
  width: 100%;
  height: 100%;
}

app-root {
  overflow: scroll hidden;
  display: block;
  width: 100%;
  height: 100%;
}

#mainbody {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
  background: var(--cream, #FFFCF3);
  overflow-x: hidden;
  overflow-y: scroll;
}

.stop-scrolling {
  overflow: hidden !important;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.align-items {
  align-items: center;
}

body {
  margin: 0;
}
