<body>
<section>
  <h1>About me</h1>
  <div class="mainWrapper">
    <main>
      <h2>{{ 'aboutMe.text' | translate }}<br><br>{{ 'aboutMe.secParagraph' | translate }}</h2>
      <div class="textWithIconsWrapper">
        <div>
          <img alt="" src="../../assets/house.svg" srcset="">
          <h2>{{ 'aboutMe.location' | translate }}</h2>
        </div>
        <div>
          <img alt="" src="../../assets/laptop_chromebook.svg" srcset="">
          <h2>{{ 'aboutMe.remote' | translate }}</h2>
        </div>
      </div>
      <button (click)="scrollTo('app-contact', 0)" (mousedown)="changeBntColor(true)" (mouseup)="changeBntColor(false)"
              [ngStyle]="{ 'background-color': bgColor }" id="app-about-me-bnt" type="button"><a
        [ngStyle]="{ 'color': textColor }">Let’s talk</a></button>
    </main>


    <div (mouseenter)="fadeInOut(false)" (mouseleave)="fadeInOut(true)" class="imageContainer">
      <div class="fade-in-out"></div>
      <img alt="" src="../../assets/LULS SOME NAEMEEEMEHJEEHEHEHEH.png" srcset="">
    </div>
  </div>
</section>
</body>
